{
  "extends": ["taro", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react/jsx-space-before-closing": 0,
    "react/jsx-indent": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/no-unused-state": 0,
    "@typescript-eslint/no-inferrable-types": 0,
    "react/sort-comp": 0,
    "react/jsx-indent-props": 0,
    "@typescript-eslint/camelcase": 0,
    "linebreak-style": "off",
    "prefer-const": 0,
    "react/no-unescaped-entities": 0,
    "jsx-quotes": 0,
    "react/jsx-tag-spacing": 0,
    "no-empty": 0,
    "no-undef": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "@typescript-eslint/member-delimiter-style": {
      "multiline": {
        "delimiter": "none",
        "requireLast": false
      },
      "singleline": {
        "delimiter": "none",
        "requireLast": false
      }
    },
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-empty-function": ["warn"]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  }
}
