@import '../../app.scss';

.qz-league-content {
  width: 100%;
  height: 100%;
  &-search {
    width: 100%;
    &-bar {
      background-color: $color-bg-blue-main;
      .at-search-bar {
        background-color: $color-bg-blue-main;
        &__action {
          background-color: $color-bg-blue-main;
        }
      }
    }
  }
}

.qz-league__result {
  &-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: $spacing-v-md;
    &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      padding: 0 5%;
    }
  }
}

.qz-league-loading {
  width: 100vw;
  height: 10vw;
  position: relative;
  margin-top: $spacing-v-md;
}
